<h1><%= @chore.name %></h1>
<br>
<hr>
<h3><%= @chore.description %></h3>
<br>
<hr>
<!-- Button complete -->
<input type="submit" value="Edit Chore" />
<input type="submit" value="Complete Chore" />


